.products {
    width: 100%;
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.products_card .products_card_box {
    margin: 10px;
    height: 350px;
    /* border: 1px solid red; */
    box-shadow: 0px 0px 10px .1px rgba(0, 0, 0, 0.406);
    
    overflow: hidden;
    padding: 10px;
}
.products_card .products_card_box:hover{
    scale: 1.01;
}

.products_card .products_card_box img {
    width: 100%;
    width: 100%;
    height: 200px;
    /* object-fit: cover; */
}
.products_card .products_card_box img:hover{
    scale: 1.02;
}

.products_card .products_card_box .price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 700;
}

.products_card .products_card_box .add {
    font-size: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.description {
    font-size: 12px;
    font-weight: 400;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* height: 70px; */
    overflow: hidden;
    text-overflow: clip;
}