.products{
    width: 100%;
    border: 1px solid red;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%; 
}
.products_card .products_card_box{
    margin: 10px;
    height: 350px;
    border: 1px solid red;
    overflow: hidden;
    padding: 10px;
}

.products_card .products_card_box img{
   width: 100%;
   width: 100%;
   height: 200px;
   /* object-fit: cover; */
}
.products_card .products_card_box .price {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.products_card .products_card_box .add {
    font-size: 18px;
    cursor: pointer;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

